.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.logoRickmorty {
  display: block;
  position: absolute;
  top: 44%;
  left: 68%;
  transform: translate(-50%, -50%);
  height: auto;
}

.characters {
  display: block;
  position: absolute;
  bottom: 108px;
  right: 238px;
  padding: 3px;
  width: 218px;
  height: auto;
}

.episodes {
  display: block;
  position: absolute;
  top: -30px;
  left: 158px;
}

