.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.logoRickmorty {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}

.characters {
  display: block;
  position: absolute;
  bottom: 4px;
  right: 458px;;
  padding: 10px;
  width: 200px;
  height: auto;
}

.episodes {
  display: block;
  position: absolute;
  top: 20px;
  left: 103px;
}
